
<%- include('blocks/head.ejs') %>

<%- include('blocks/navbar.ejs') %>

<div class="error404">
  <h2 class="text-error404">
    Error: 404 page not found.
  </h2> 
  <p>This is not a valid path</p>
</div>

<%- include('blocks/footer.ejs') %>
