
<footer>
  <h4>
    Application licensed under Apache-2.0 and <a 
    href="https://github.com/Wilbert-mad/SBLF-Advertising"
    target="blank"
    class="link">open source</a>
  </h4>
  
  <div>

  </div>
  <div>

  </div>
  <div>

  </div>
</footer>
<script src="/js/navbar-90.js"></script>
</body>
</html>