
<footer>
  
  <h4>Copyright &copy; 2020 Application made open source <a 
    href="https://github.com/Wilbert-mad/SBLF-Advertising"
    target="blank">Project.</a>
  </h4>
  
  <div>

  </div>
  <div>

  </div>
  <div>

  </div>
</footer>

</body>
</html>