<div id="nav-background">
  <div id="nav-container">
    <header id="nav-header">
      <h1><a href="/" id="nav-logo"><%= app.name %></a></h1>
      <div id="nav-menu-button">MENU</div>
    </header>
    <nav>
      <ul class="nav-ul hide-ul">
        <li><a class="nav-link active-link" href="#">Home</a></li>
        <li><a class="nav-link" href="#">About</a></li>
        <li><a class="nav-link" href="#">Commands</a></li>
      </ul>
    </nav>
  </div>
</div>